body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.info p {
    font-size: 18px;
}

.charts {

    display: flex;
    justify-content: center;
}

.charts > div {
    width: 45%;
}
.pie-chart {
    width: 80vmin; /* Đặt kích thước cha theo chiều nhỏ nhất của viewport */
    height: 80vmin; /* Đảm bảo rằng phần tử cha luôn là hình vuông */
    /*width: 65% !important; !* Chiều rộng 100% của phần tử cha *!*/
    /*height: 65% !important; !* Chiều cao tự động, để tỷ lệ với chiều rộng *!*/
    align-items: center;

}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    margin: 5px 0;
}

.product-summary h2 {
    color: #444;
    margin-bottom: 10px;
}

.product-summary ul {
    list-style-type: none;
    padding-left: 0;
}

.product-summary li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalproduct{
    color: #007BFF;
}
.product-summary li:hover {
    background: #f9f9f9;
}

.product-name {
    font-weight: bold;
}

/* Info section styling */
.info1 {
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #eee;
}

.info1 p {
    margin-bottom: 10px;
    font-size: 20px;

}

.info1 span {
    font-weight: bold;
    color: #007BFF;
}