<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/popup.css}" rel="stylesheet"/>
    <link th:href="@{/css/invoice.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <!--    <meta name="_csrf" th:content="${_csrf.token}">-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">Group 20</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">Manage</div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Mangagement
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/users}">User</a>
                            <a class="nav-link" th:href="@{/invoice}">Invoice</a>
                            <a class="nav-link" th:href="@{/product}">Product</a>
                            <a class="nav-link" th:href="@{/brand}">Brand</a>
                            <a class="nav-link" th:href="@{/strap}">Strap</a>
                            <a class="nav-link" th:href="@{/type}">Type</a>
                            <a class="nav-link" th:href="@{/dialsize}">Dial-Size</a>

                        </nav>
                    </div>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Group 20
            </div>
        </nav>
    </div>
    <div class="mt-4" id="layoutSidenav_content">
        <div class="container">
            <form action="/admin" method="GET">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="startDate">

                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="endDate">

                <button class="details-btn" type="submit"  > Select</button>
            </form>
            <!-- Phần 1: Thông tin tổng quát -->


            <div class="section">
                <div class="charts">
                    <div >
                        <h3>Line Chart - Revenue</h3>
                        <canvas id="lineChart"></canvas>
                    </div>
                    <div>
                        <h2>Total products: <span th:text="${totalProducts}">0</span></h2>
                        <h2>Number of each product</h2>
                        <ul>
                            <li th:each="product : ${products}">
                                <span th:text="${product.name}">Product Name</span>: <span th:text="${product.total}">0</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

            <!-- Phần 2: Biểu đồ -->
            <div class="section">
                <div class="charts">
                    <div>
                        <h3>Pie Chart - Number Of Invoices</h3>
                        <canvas id="pieChart" class="pie-chart"></canvas>
                    </div>
                    <div class="info">
                        <p>Total Invoice: <span th:text="${totalInvoices}">0</span></p>
                        <p>Total Revenue: <span th:text="${totalRevenue}">0</span></p>
                    </div>
                </div>
            </div>

            <!-- Phần 3: Số Lượng Từng Sản Phẩm -->
<!--            <div class="section">-->

<!--            </div>-->
        </div>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>

                </div>
            </div>
        </footer>
    </div>
    <script th:inline="javascript">
        // Data for Pie Chart
        var pieChartData = [[${invoiceStatusData}]];

        var pieCtx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(pieCtx, {
            type: 'pie',
            data: {
                labels: pieChartData.map(data => data.status),
                datasets: [{
                    data: pieChartData.map(data => data.count),
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0']
                }]
            }

        });

        // Data for Line Chart
        var lineChartData = [[${revenueByDayData}]];

        var lineCtx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(lineCtx, {
            type: 'line',
            data: {
                labels: lineChartData.map(data => data.day),
                datasets: [{
                    label: 'Doanh Thu',
                    data: lineChartData.map(data => data.revenue),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            }

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="js/ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>

</body>
</html>
