<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/popup.css}" rel="stylesheet"/>
    <link th:href="@{/css/invoice.css}" rel="stylesheet"/>
    <!--    <meta name="_csrf" th:content="${_csrf.token}">-->
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/admin}">Group 20</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <div class="sb-sidenav-menu-heading">Manage</div>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Mangagement
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/users}">User</a>
                            <a class="nav-link" th:href="@{/invoice}">Invoice</a>
                            <a class="nav-link" th:href="@{/product}">Product</a>
                            <a class="nav-link" th:href="@{/brand}">Brand</a>
                            <a class="nav-link" th:href="@{/strap}">Strap</a>
                            <a class="nav-link" th:href="@{/type}">Type</a>
                            <a class="nav-link" th:href="@{/dialsize}">Dial-Size</a>

                        </nav>
                    </div>

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Group 20
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">List Brand</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">List Strap</li>
                </ol>

                <Button id="createProductBtn" style="margin-bottom:1%">Create New Strap</Button>
                <div id="successMessage" style="display:none; color: green;"></div>
                <div id="productModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Strap Details</h2>
                        <label>Strap Id:</label>
                        <input id="pId"></input>
                        <label>Strap Name:</label>
                        <input id="pName"></input>
                        <button id="submitProductUpdate">Update</button>

                    </div>
                </div>
                <div id="productFormPopup" class="popup">
                    <div class="popup-content">
                        <span class="closeBtn">&times;</span>
                        <form id="createProductForm" method="post">
                            <h2>Create Strap</h2>
                            <label for="productId">Id:</label><br>
                            <input type="text" id="productId" name="productId" placeholder="Strap Id"><br>
                            <label for="productName">Name:</label><br>
                            <input type="text" id="productName" name="productName" placeholder="Strap Name"><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            <tr th:each="strap:${listStrap}">
                                <td th:text="${strap.id}"></td>
                                <td th:text="${strap.name}"></td>
                                <td>
                                    <button class="delete-btn" th:value="${strap.id}">Delete</button>
                                    <button class="details-btn"
                                            th:data-id="${strap.id}"
                                            th:data-name="${strap.name}"
                                    >Details
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>

                </div>
            </div>
        </footer>
    </div>
    <script>
        document.getElementById('submitProductUpdate').addEventListener('click', function () {
            var id = document.getElementById('pId').value;
            var name = document.getElementById('pName').value;
            let formData = {
                id: id,
                name: name

            };
            $.ajax({
                url: '/strap',
                method: 'put',
                // Replace with your API endpoint
                data: JSON.stringify(formData),
                contentType: 'application/json',

                success: function (response) {
                    // Handle success
                    $('#successMessage').show().text('Updated successfully!');
                    setTimeout(function () {
                        $('#successMessage').hide();
                        window.location.reload()
                    }, 200);
                },
                error: function () {
                    // Handle error
                    alert('Failed to Update Please try again.');
                }
            });
            $('#productModal').hide();
        });
    </script>
    <script>
        document.addEventListener('click', function (event) {
            // Check if the clicked element has the class 'details-btn'
            if (event.target.classList.contains('details-btn')) {
                var button = event.target;
                var id = button.getAttribute('data-id');
                var name = button.getAttribute('data-name');
                showUserDetails(id, name);
            }
        });

        // When the user clicks on a row button, open the modal and populate it with data
        function showUserDetails(id, name) {
            document.getElementById('pId').value = id;
            document.getElementById('pName').value = name;
            document.getElementById('productModal').style.display = "block";
        }

        // Get the modal
        var modal = document.getElementById('productModal');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
    <script>
        $(document).ready(function () {
            $('#createProductForm').submit(function (event) {
                event.preventDefault();

                let formData = {
                    id: $('#productId').val(),
                    name: $('#productName').val()
                };


                $.ajax({
                    url: '/strap',
                    method: 'post',
                    // Replace with your API endpoint
                    data: JSON.stringify(formData),
                    contentType: 'application/json',

                    success: function (response) {
                        // Handle success
                        $('#successMessage').show().text('Strap created successfully!');
                        $('#createProductForm')[0].reset();
                        setTimeout(function () {
                            $('#successMessage').hide();
                            window.location.reload()
                        }, 200);
                    },
                    error: function () {
                        // Handle error
                        alert('Failed to create Strap. Please try again.');
                    }
                });

                $('#productFormPopup').hide();
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('.delete-btn').click(function () {
                var productId = $(this).attr("value");

                $.ajax({
                    url: '/strap/' + productId,
                    method: 'delete',
                    success: function (result) {
                        alert(result);
                        window.location.reload()
                        // Additional logic to remove the row from the table
                    },
                    error: function (xhr, status, error) {
                        alert("Error: " + error);
                    }
                });
            });
        });
    </script>
    <!--    editBtn-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.editProductBtn').forEach(item => {
                console.log("each Item")
                item.addEventListener('click', function () {
                    console.log("aloalo")

                    // Open the popup
                    var popup = document.getElementById('editPopupForm');
                    if (popup) {
                        popup.style.display = 'block';

                        // Fill the form with product data
                        var row = this.closest('tr');
                        if (row) {
                            document.getElementById('productId1').value = row.cells[0].innerText;

                        }
                    }
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="js/ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>

</body>
</html>
